<div class="grid overflow-hidden grid-cols-3 place-items-center h-screen w-screen boardroom">
	<div class="box"></div>
	<div class="box">
        <ul>
           <li><a routerLink="/taken/noorswiped" routerLinkActive="active"><button class="btn btn-whitespace fourth assignment">Jullie opdracht!</button></a></li>
           <li><a routerLink="/scores" routerLinkActive="active"><button class="btn btn-whitespace fourth">Scoreboard</button></a></li>
           <li><a routerLink="/uitleg" routerLinkActive="active"><button class="btn btn-whitespace fourth">Uitleg</button></a></li>
           <li><a routerLink="/bestaande-klas" routerLinkActive="active"><button class="btn btn-whitespace fourth">Verander klas</button></a></li>
           <li><a routerLink="/nieuwe-klas" routerLinkActive="active"><button class="btn btn-whitespace fourth">Nieuwe klas</button></a></li>
        </ul>
    </div>
	<div class="box"></div>
</div>