  <div class="confirm-exit grid grid-cols-1 place-items-center h-screen w-screen">
   
    <div class="confirm-text">
        <p class="content-center">
          {{explaination}}
        </p>
        <div class="confirm-exit-footer">
            <button class="btn fourth btn-thin back-btn" (click)="closeWindow()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 19l-7-7 7-7m8 14l-7-7 7-7" />
                </svg>
                Terug
            </button>
        </div>
    </div>
</div>