<div class="home-container grid overflow-hidden grid-cols-12 gap-0">
        <div class="home-logo col-start-4 col-span-6">
                <img class="w-full" src="assets/img/logo.svg" alt="">
        </div>

        <div class="col-start-4 col-span-2">
                <a routerLink="/bestaande-klas">
                        <button class="btn btn-whitespace fourth btn-left">Bestaande klas</button>
                </a>
        </div>
        
        <div class="col-start-8 col-span-2 ">
                <a routerLink="/nieuwe-klas">
                        <button class="btn btn-whitespace fourth btn-right">Nieuwe klas</button>    
                </a>   
        </div>
</div>
