<app-group-options (handleNewGroup)="handleNewGroup($event)"></app-group-options>
<div class="manage-groups-footer flex">

    <a routerLink="/scores" routerLinkActive="active" class="back-btn">
        <button class="btn fourth btn-thin">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 19l-7-7 7-7m8 14l-7-7 7-7" />
            </svg>
            Terug
        </button>
    </a>

    <button class="btn fourth btn-thin save-btn" (click)="saveGroups()">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
        </svg>
        Opslaan
    </button>
</div>